body {
    background-image: URL("https://danjstern.github.io/epic_support_files/fortnite_rtm_background.png")
}

.primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 8em 5vw 0 5vw;
    width: 100%;
}

.primaryText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:40%;
    color: #ff2598
}

.title {
    font-size: 2em;
    padding-bottom: .5em;
    font-weight: bold;
}

.secondaryText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
}

.secondaryText h3 {
    font-size: 1.3em;
}

.overview {
    padding-bottom: 1em;
    font-size: 1em;
}

.instructions {
    padding-bottom: 5em;
    font-size: 1.2em;
}

.instructions ol {
    font-size: 1.2em;
}

.supportForm {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
}

.register {
    font-style: italic;
    font-size: 90%;
}

.feedback {
    color: purple;
    padding-bottom:1em;
    font-size: 1.5em;
}

.topBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    padding-top: 1vh;
    background-color: white;
}

.topBarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    margin: 0 5vw 0 5vw;
}

.leftContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
}

.rightContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width:50%;
}

.rightContainer a {
    color: #2F4550;
}

.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2vw;
    font-size: 1.2em;
    font-weight: bold;
}

.linkLast {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.xboxLogo {
    height: 3.5em;
}

.footer {
    padding-top: 3em;
}
