[class*="TextOtherRoot"] {
border-radius: 0px 22px 22px !important;
}
[class*="TextSelfRoot"], [class*="QuickReply"] {
border-radius: 22px 22px 0px !important;
}
[class*="HiddenFileInput"] {
    display: none !important;
}
[class*="OrbAvatarRoot"], [class*="OrbAvatarRoot"] * {
    border-radius: 50% !important;
}
[class*="BaseBotAvatarRoot-"] {
  border-radius: 50% !important;
}
[class*="OrbChatRoot"] > main{
    border-radius: 22px 0px 0px 22px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 18px 0px !important;
}
[class*="BaseBotAvatarRoot-"]{
   background-color: #0e7cc3;
}
[class*="QuickRepliesRoot-"] button {
    background: transparent;
}
[class*="AskButtonsRoot-"] button {
  background-color: rgb(0, 56, 102);
  background: rgb(0, 56, 102);
}
button[class*="Submit-"] > [class*="IconRoot-"] {
  background-color: rgb(0, 56, 102);
  background: rgb(0, 56, 102);
    border-radius: 0px 12px 12px 0px;
}
